$font-family-sans-serif: 'Mulish', sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1217px
);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;

$primary: #458FF6;
$secondary: #7D7987;
$enable-shadows: true;

$btn-padding-x-lg: 2.5rem;
$btn-padding-y-lg: 0.9rem;
$btn-font-size-lg: 1.125rem;

$card-border-radius: 1.25rem;
$card-border-width: 0; 
$card-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

@import "../libs/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Mulish:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

h2 {
    line-height: 3.5rem;
}

.header .navbar-nav {
    font-size: 1.125rem;
}

.home__img-decoration {
    z-index: -1;
}

.home__info p {
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 2rem;
}

.find-doctor__info p, .apps__providers-info p, .apps__dowload-info p {
    font-size: 1.125rem;
    font-weight: 300;
}

.find-doctor__form-decoration {
    left: -192px;
    top: 0px;
}

.find-doctor__form-decoration-02 {
    right: 0;
    top: 41%;
}

.find-doctor__card p {
    font-weight: 300;
}

.btn-outline-primary:hover {
    color: white;
}

.apps__dowload-info .btn-outline-primary:hover > .button-arrow {
    filter: brightness(0) invert(1);
}


