$font-family-sans-serif: 'Mulish', sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1217px
);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.375;
$h6-font-size: $font-size-base * 1.25;

$primary: #458FF6;
$secondary: #7D7987;

$btn-padding-x-lg: 2.5rem;
$btn-padding-y-lg: 0.9rem;
$btn-font-size-lg: 1.125rem;

$card-border-radius: 1.25rem;
$card-border-width: 0; 
$card-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

$carousel-control-prev-icon-bg: url('../images/arrow-left.png');
$carousel-control-next-icon-bg: url('../images/arrow-right.png');
$carousel-control-icon-width: 28px;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-spacer: 9px;
$carousel-indicator-active-bg: $primary;


@import "../libs/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Mulish:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');



h2 {
    line-height: 3.5rem;
}

.header .navbar-nav {
    font-size: 1.125rem;
}

.home__img-decoration {
    z-index: -1;
}

.home__info p {
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 2rem;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #307eeb;
    border-color: #307eeb;
}

.find-doctor__info p, .apps__providers-info p, .apps__dowload-info p {
    font-size: 1.125rem;
    font-weight: 300;
}

.find-doctor__form-decoration {
    left: -192px;
    top: 0px;
}

.find-doctor__form-decoration-02 {
    right: 0;
    top: 41%;
}

.find-doctor__card p, .about-us__card p {
    font-weight: 300;
}

.btn-outline-primary:hover {
    color: white;
}

.apps__dowload-info .btn-outline-primary:hover > .button-arrow {
    filter: brightness(0) invert(1);
}

.testimonials__carousel-bg {
    background-image: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px
}

.testimonials__user-info p {
    font-size: 1.1875rem;
    opacity: 0.9;
    font-weight: 400;
    line-height: 1.875rem;
}

.testimonials__user-info span {
    font-size: 1.125rem;
    font-weight: 400;
    opacity: 0.85;
}

.apps__form-decoration {
    right: -3rem;
    top: calc(50% - 57px)
}

.testimonials__form-decoration {
    top: 55%;
    left: -3%; 
 }

.testimonials-bg__form-decoration {
    right: -3rem;
    top: -1rem;
}

.about-us__form-decoration {
    right: 0;
    bottom: 25%;
}

.about-us__form-decoration-02 {
    left: -1.5rem;
    top: 6rem;
}

.footer__bg {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__inf p, .footer__links a {
    font-size: 1.125rem;
    font-weight: 300;
}

.footer__decoration-01 {
    top: -5rem;
    right: 6%;
}

.footer__decoration-02 {
    left: -1%;
    bottom: -4%;
}

@media (max-width: 575px) {
    .testimonials__carousel-bg {
        height: 80vh;
    }
    .testimonials__user-info {
        height: calc(100% - 185px);
        overflow: auto;
    }
    h2 {
        line-height: 1.5;
    }
}



